container{
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: .8em;
    align-items: center;
    margin-bottom: 1em;
  }
  .form-profile-costumers{
    margin-bottom: .5em;
    font-size: 1.4em;
  }
  
  .form-profile-costumers input{
    margin-bottom: 1em;
    padding: .7em;
    border:0;
    border-radius: 5px;
    max-width: 600px;
  }
  
  
  
  .form-profile-costumers button{
    max-width: 600px;
  }
  
  
  